<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd">
  <coverage>
    <report>
      <html outputDirectory="coverage/"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="DeskView">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
